.products-block {
  .block-title{
    h2 {
      font-weight: bold;
    }
  }
  .block.content{
    .product-item {
      h3 {
        color:orange;
      }
      p {
        color: blue;
      }
    }
  }
}